h2, figure {
  text-align: center;
  font-weight: bold;
  margin-bottom: 150px;
  font-size: 60px;
}

#main-header {
  font-size: 100px;
  /*font-weight: bold;*/
  margin-bottom: 100px;
  text-align: center;
  font-family: "Pacifico";
  letter-spacing: 10px;
}
html {
  height: 5500px;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
  background-repeat: no-repeat;
  /*opacity: 0.5;*/
}

body {
  width: 100%;
}

.parent-spin-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#parent-flip-div {
  position: relative;
  perspective: 800px;
  width: 13%;
}

#card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 450px;
}

#a-scroll-tag {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  color: pink;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  right: 23px;

}

.a-card-spin {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
}

.a-card-spin:hover {
  border: 3px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.a-card-flip {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
      /*border-radius: 45%;*/
}

.a-card-flip:hover {
  background: gainsboro;
}

.a-carousel-fan {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
      /*border-radius: 45%;*/
}

.a-carousel-spin {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
      /*border-radius: 45%;*/
}

.a-cube {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
      /*border-radius: 45%;*/
}

.a-rect {
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 100px;
      /*border-radius: 45%;*/
}

.back-to-top {
  text-align: center;
  border: 3px solid crimson;
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_fit,w_100/v1470081023/ic_arrow_upward_black_48dp_2x_oqapu1.png");
}
